<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
    <% anuncios.forEach(anuncio => { %>
        
        <li>
          <h1><%= anuncio.name %></h1>
          <% if (anuncio.sell) {  %>
          <p>Se vende</p>
          <% } else { %>
          <p>Se busca</p>
          <% } %>
          <p><%= anuncio.price %>€</p>
          <p><%= anuncio.tags %></p>
          <p><%= anuncio.photo %></p>
        </li>
    <% }) %>
  </ul>
  </body>
</html>
