<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <h1><%= title %></h1>
    <p><%= __("Welcome to") %> <%= title %></p>
  <% getLocales().forEach(locale=> { %>
    <a href="/change-locale/<%= locale %>">
      <%= locale %>
    </a>&nbsp;
    <% }) %>
    </main>
    <ul class="container">
    <% anuncios.forEach(anuncio => { %>
        
        <li class="anuncio">
          <h2><%= anuncio.name %></h2>
          <% if (anuncio.sell) {  %>
          <p class="description"><%= __("sell") %></p>
          <% } else { %>
          <p class="description"><%= __("looking for") %></p>
          <% } %>
          <p><%= __("price") %>: <%= anuncio.price %>€</p>
          <p><%= __("tags") %>: <%= anuncio.tags %></p>
          <img src=<%= anuncio.thumbnail %> alt=<%= anuncio.name %>>
        </li>
    <% }) %>
  </ul>
  </body>
</html>
