<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </main>
    <ul class="container">
    <% anuncios.forEach(anuncio => { %>
        
        <li class="anuncio">
          <h2><%= anuncio.name %></h2>
          <% if (anuncio.sell) {  %>
          <p class="description">Se vende</p>
          <% } else { %>
          <p class="description">Se busca</p>
          <% } %>
          <p>price: <%= anuncio.price %>€</p>
          <p>Tags: <%= anuncio.tags %></p>
          <img src=<%= anuncio.photo %> alt=<%= anuncio.name %>>
        </li>
    <% }) %>
  </ul>
  </body>
</html>
